<div class="page filter text-3xl text-gray-900 text-center p-5">
  <h4 class="heading text-h4 my-8">Filtering Data</h4>
  <div class="filters flex col-span-3 gap-3 my-8">
    <div class="w-1/4">
      <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Search</span>
      <input class="filter form-input" type="text" aria-label="search" placeholder="search..." />
    </div>
    <div class="w-1/3">
      <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Sort by category</label
      >
      <select id="category" class="filter form-select">
        <option>Select one ...</option>
        <!-- add options here -->
      </select>
    </div>
    <div class="w-1/3">
      <label for="sortBy" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Filter by rating</label
      >
      <select id="sortBy" class="filter form-select">
        <option>Select one ...</option>
        <!-- add options here -->
      </select>
    </div>
    <div class="w-1/3">
      <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Filter by status</label
      >
      <select id="status" class="filter form-select">
        <option>Select one ...</option>
        <!-- add options here -->
      </select>
    </div>
  </div>
  <div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-blueberry uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">User</th>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Rating</th>
            <th scope="col" class="px-6 py-3 text-center">Status</th>
          </tr>
        </thead>
        <tbody class="data">
          <!-- insert data -->

          <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"
            >
              Name
            </th>
            <td class="px-6 py-4">Email</td>
            <td class="px-6 py-4">Rating</td>
            <td class="px-6 py-4 text-center">
              <input type="checkbox" class="form-checkbox rounded text-pink-500" checked />
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
