<div class="page sorting">
  <p class="line-clamp-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum tempore esse, nulla optio
    excepturi totam nam voluptatum voluptas expedita quos quo architecto quasi exercitationem,
    maiores doloribus mollitia dolorem recusandae impedit. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Qui soluta eveniet similique tempora aliquam incidunt, nam, fugiat ad ab dolor
    nesciunt reprehenderit sed eaque at, nemo consequatur! Sint quos quaerat fugit doloremque
    provident quod, cum animi nisi excepturi numquam debitis nam fugiat consequatur quis repellat
    adipisci quae perferendis dolore totam esse facere distinctio nihil corporis quam! Aspernatur,
    velit sint laboriosam consectetur corporis tempore obcaecati perferendis quae, adipisci error,
    quisquam accusamus. Voluptatem similique nulla laborum, vitae nihil laboriosam facere sint
    molestiae! Similique optio necessitatibus dolor dolorum animi, et, corrupti nisi ipsam
    voluptatibus deleniti quo tempora ipsum. Tempore aut tempora soluta placeat.
  </p>
</div>
